body {
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}
.title {
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: 300;
}
.title ul {
  display: flex;
}
.title ul li {
  color: #c7c7c7;
  margin-left: 25px;
}
.textheader {
  text-decoration: underline;
}
.textheader2 {
  margin-left: 600px;
  color: #222222;
}
.box_wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.box {
  width: calc(33% - 27px);
  margin-right: 30px;
}
.box_content {
  margin-bottom: 41px;
}
.box_content p:first-child {
  font-size: 24px;
  font-weight: 500;
  color: #222222;
  padding-top: 19px;
  padding-left: 10px;
}
.box_content span:last-child {
  font-size: 14px;
  font-weight: 300;
  color: #222222;
  padding-left: 10px;
}
.wrapper2 {
  display: flex;
}
.box1 {
  background-image: url(../images/box1image.jpg);
  width: 540px;
  height: 300px;
  margin-right: 30px;
}
.box2 {
  background-image: url(../images/box2image.jpg);
  width: 540px;
  height: 300px;
}
